# Python
__pycache__/
.ipynb_checkpoints/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv

# SQLite
.blogger.sqlite3
.blogger.sqlite3-shm
.blogger.sqlite3-wal

# Jupyter-Book
_build/
logs/

# JupyterHub runtime files
jupyterhub-proxy.pid
jupyterhub.sqlite
jupyterhub_cookie_secret

# IDE & VCS
.vscode/
.jj

## Misc
urls.txt
.antigravitycli/
