[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = https://github.com/danielfrg/pelican-ipynb.git
[submodule "plugins/latex"]
	path = plugins/latex
	url = https://github.com/barrysteyn/pelican_plugin-render_math.git
