Status: published
Date: 2021-05-13 09:33:19
Modified: 2022-12-23 20:58:39
Author: Benjamin Du
Slug: unit-testing-formal-verification-rust
Title: Unit Testing and Formal Verification in Rust
Category: Computer Science
Tags: Computer Science, programming, Rust, testing, unit test, verification, analysis, formal verification

**Things on this page are fragmentary and immature notes/thoughts of the author. Please read with your own judgement!**

## Test vs Verification

[Rust Design-for-Testability: a survey](https://alastairreid.github.io/rust-testability/)

[Rust testing or verifying: Why not both?](https://alastairreid.github.io/why-not-both/)

[KLEE Symbolic Execution Engine](https://github.com/klee/klee)

[Library-ification and analyzing Rust](http://smallcultfollowing.com/babysteps/blog/2020/04/09/libraryification/)

## References 

- [Verify Rust Code](https://www.legendu.net/misc/blog/verify-rust-code)

- [Unit Test in Rust](https://www.legendu.net/misc/blog/unit-test-in-rust)

- [Issues in asserting Result](https://users.rust-lang.org/t/issues-in-asserting-result/61198/6)

- [Prusti – Deductive Verification for Rust](https://www.youtube.com/watch?v=C9TTioH5JUg)

- [A static verifier for Rust, based on the Viper verification infrastructure.](https://github.com/viperproject/prusti-dev)

- [Verification Competitions](https://alastairreid.github.io/verification-competitions/)
