{% set fridge_magnets_mam = [
    {"name":"Aleksandrów Łódzki",         "lat":51.8176693, "long":19.309346},
    {"name":"Amsterdam",                  "lat":52.371047,  "long":4.897173},
    {"name":"Augustów",                   "lat":53.8434431, "long":22.9796023},
    {"name":"กรุงเทพมหานคร (Bangkok)",     "lat":13.7563309, "long":100.50176510000006},
    {"name":"Barcelona",                  "lat":41.3850639, "long":2.1734035},
    {"name":"Berlin",                     "lat":52.5200066, "long":13.404954},
    {"name":"Białystok",                  "lat":53.1324886, "long":23.1688403},
    {"name":"Bieszczadzka Kolejka Leśna", "lat":49.2054369, "long":22.2993601},
    {"name":"Biskupin",                   "lat":52.7870804, "long":17.7308698},
    {"name":"Bletchley Park",             "lat":51.9976597, "long":-0.7406863},
    {"name":"Bogatynia",                  "lat":50.9072496, "long":14.9561498},
    {"name":"Bohoniki",                   "lat":53.3915278, "long":23.5874914},
    {"name":"Boston",                     "lat":42.3600825, "long":-71.0588801},
    {"name":"Boston Tea Party Ships & Museum", "lat":42.3521825, "long":-71.0515},
    {"name":"Bratislava",                 "lat":48.1485965, "long":17.1077477},
    {"name":"Brno",                       "lat":49.1950602, "long":16.6068371},
    {"name":"Bruxelles",                  "lat":50.8503396, "long":4.3517103},
    {"name":"Budapest",                   "lat":47.497912,  "long":19.040235},
    {"name":"Cahors",                     "lat":44.4475229, "long":1.441989},
    {"name":"Cambridge",                  "lat":52.205337,  "long":0.121817},
    {"name":"Chełm",                      "lat":51.1431232, "long":23.4711986},
    {"name":"Ciechocinek",                "lat":52.8790493, "long":18.7948147},
    {"name":"Cité de l'espace (Toulouse)","lat":43.587,     "long":1.494},
    {"name":"Computer History Museum",    "lat":37.4143233, "long":-122.0773213},
    {"name":"Computerspiele Museum",      "lat":52.5176133, "long":13.442},
    {"name":"Wielkopolski Park Etnograficzny (Dziekanowice)", "lat":52.515101,  "long":17.3800178},
    {"name":"Dresden",                    "lat":51.0504088, "long":13.7372621},
    {"name":"Druskininkai",               "lat":54.0049069, "long":23.9864279},
    {"name":"Dublin",                     "lat":53.3498053, "long":-6.2603097},
    {"name":"Düsseldorf",                 "lat":51.2277411, "long":6.7734556},
    {"name":"Dzierżoniów",                "lat":50.7308605, "long":16.6567892},
    {"name":"Dziwnów",                    "lat":54.0139124, "long":14.7561412},
    {"name":"Eindhoven",                  "lat":51.44196,   "long":5.471},
    {"name":"Ełk",                        "lat":53.8280529, "long":22.3646629},
    {"name":"Gdańsk",                     "lat":54.3520252, "long":18.6466384},
    {"name":"Gdynia",                     "lat":54.5188898, "long":18.5305409},
    {"name":"Gibraltar",                  "lat":36.129508,  "long":-5.3708096},
    {"name":"Wilczy Szaniec (Gierłoż)",   "lat":54.1057666, "long":21.4649141},
    {"name":"Giewont",                    "lat":49.2510022, "long":19.9340351},
    {"name":"Twierdza Boyen (Giżycko)",   "lat":54.0341631, "long":21.747724},
    {"name":"Gliwice",                    "lat":50.2944923, "long":18.6713802},
    {"name":"Głogów",                     "lat":51.6635852, "long":16.0846672},
    {"name":"Gniezno",                    "lat":52.5349253, "long":17.5826575},
    {"name":"Gołdap",                     "lat":54.3069111, "long":22.3034477},
    {"name":"Gorzów Wielkopolski",        "lat":52.7325285, "long":15.2369305},
    {"name":"Greifswald",                 "lat":54.0865463, "long":13.3923414},
    {"name":"Grudziądz",                  "lat":53.4837486, "long":18.7535649},
    {"name":"Grunwald",                   "lat":53.4834175, "long":20.0943784},
    {"name":"Hamburg",                    "lat":53.5510846, "long":9.9936818},
    {"name":"Hannover",                   "lat":52.3758916, "long":9.7320104},
    {"name":"Hel", 	                  "lat":54.6363343, "long":18.7398362},
    {"name":"Helsinki",                   "lat":60.1698557, "long":24.938379},
    {"name":"香港 (Hongkong)",            "lat":22.396428,  "long":114.109497},
    {"name":"İstanbul",                   "lat":41.0082376, "long":28.9783589},
    {"name":"Jarocin",                    "lat":51.9724492, "long":17.5019414},
    {"name":"JuraPark. Park dinozaurów",  "lat":53.0793443, "long":18.2345126},
    {"name":"Kalisz",                     "lat":51.7672799, "long":18.0853462},
    {"name":"Karpacz",                    "lat":50.7758815, "long":15.7555976},
    {"name":"Katowice",                   "lat":50.2648919, "long":19.0237815},
    {"name":"Kaunas",                     "lat":54.8985207, "long":23.9035965},
    {"name":"Kielce",                     "lat":50.8660773, "long":20.6285676},
    {"name":"Київ (Kiiv)",                "lat":50.4501,    "long":30.5234},
    {"name":"Klaipėda",                   "lat":55.7032948, "long":21.1442794},
    {"name":"København",                  "lat":55.6760968, "long":12.5683371},
    {"name":"Köln",                       "lat":50.937531,  "long":6.9602786},
    {"name":"Kołobrzeg",                  "lat":54.1759173, "long":15.5832667},
    {"name":"Kopalnia Soli „Wieliczka”",  "lat":49.9834763, "long":20.0537965},
    {"name":"Koszalin",                   "lat":54.1943219, "long":16.1714908},
    {"name":"Kraków",                     "lat":50.0646501, "long":19.9449799},
    {"name":"Krasiczyn",                  "lat":49.7762204, "long":22.6525426},
    {"name":"Kruszwica",                  "lat":52.67429,   "long":18.33159},
    {"name":"Kruszyniany",                "lat":53.1772089, "long":23.8056111},
    {"name":"Krzeszów",                   "lat":50.7333738, "long":16.0707451},
    {"name":"Kwidzyn",                    "lat":53.7204221, "long":18.9100324},
    {"name":"Las Vegas",                  "lat":36.1699412, "long":-115.1398296},
    {"name":"London",                     "lat":51.5073509, "long":-0.127758299999982},
    {"name":"Lübeck",                     "lat":53.8654673, "long":10.6865593},
    {"name":"Lublin",                     "lat":51.2464536, "long":22.5684463},
    {"name":"Łódź",                       "lat":51.7592485, "long":19.4559833},
    {"name":"Málaga",                     "lat":36.7648115, "long":-4.4942287},
    {"name":"Malbork",                    "lat":54.0361319, "long":19.0379763},
    {"name":"Mamerki",                    "lat":54.1820005, "long":21.646496},
    {"name":"Międzywodzie",               "lat":54.0017165, "long":14.6705896},
    {"name":"Międzyzdroje",               "lat":53.9283144, "long":14.4504845},
    {"name":"MIT",                        "lat":42.3570439, "long":-71.0928603},
    {"name":"München",                    "lat":48.1351253, "long":11.5819806},
    {"name":"Muumimaailma (Moominworld)", "lat":60.4734703, "long":22.0053239},
    {"name":"New York",                   "lat":40.7127837, "long":-74.0059413},
    {"name":"Niagara Falls",              "lat":43.0895577, "long":-79.0849436},
    {"name":"Nidzica",                    "lat":53.360814,  "long":20.4274873},
    {"name":"Niechorze",                  "lat":54.0948275, "long":15.0766112},
    {"name":"Nürnberg",                   "lat":49.4521018, "long":11.076665400000024},
    {"name":"Oakland",                    "lat":37.8043637, "long":-122.2711137},
    {"name":"Olecko",                     "lat":54.0337279, "long":22.5069431},
    {"name":"Olsztyn",                    "lat":53.778422,  "long":20.4801193},
    {"name":"Orlando",  	          "lat":28.5383355, "long":-81.3792365},
    {"name":"Ostrów Lednicki",            "lat":52.5269444, "long":17.3777778},
    {"name":"Pacanów",                    "lat":50.400018,  "long":21.0416049},
    {"name":"Paderborn",                  "lat":51.7189205, "long":8.7575093},
    {"name":"Peenemünde",                 "lat":54.1367132, "long":13.7747756},
    {"name":"Poznań",                     "lat":52.406374,  "long":16.9251681},
    {"name":"Praha",                      "lat":50.0755381, "long":14.4378005},
    {"name":"Pruszcz Gdański",            "lat":54.2621505, "long":18.6361726},
    {"name":"Przemyśl",                   "lat":49.7838623, "long":22.7677908},
    {"name":"Puck",                       "lat":54.7180477, "long":18.4086339},
    {"name":"Puńsk",                      "lat":54.251638,  "long":23.1797382},
    {"name":"Racibórz",                   "lat":50.0915234, "long":18.2199166},
    {"name":"Radom",                      "lat":51.4027236, "long":21.1471333},
    {"name":"Reykjavík",                  "lat":64.1265206, "long":-21.8174393},
    {"name":"Rochester",                  "lat":43.16103,   "long":-77.6109219},
    {"name":"Ronda",                      "lat":36.7406345, "long":-5.166914},
    {"name":"Salem",                      "lat":42.51954,   "long":-70.8967155},
    {"name":"San Diego",                  "lat":32.721524,  "long":-117.1695264},
    {"name":"USS Midway (San Diego)",     "lat":32.7138,    "long":-117.1752},
    {"name":"San Francisco",              "lat":37.7749295, "long":-122.4194155},
    {"name":"Sanok",                      "lat":49.5550187, "long":22.2060658},
    {"name":"深圳 (Shenzhen)",            "lat":22.543096,  "long":114.057865},
    {"name":"Sobieszewo",                 "lat":54.3439092, "long":18.8263302},
    {"name":"Solina",                     "lat":49.3993322, "long":22.4677303},
    {"name":"Sopot",                      "lat":54.441581,  "long":18.5600956},
    {"name":"Stańczyki",                  "lat":54.2973594, "long":22.6549163},
    {"name":"Stara kopalnia (Wałbrzych)", "lat":50.7723139, "long":16.261},
    {"name":"Stargard",                   "lat":53.3364746, "long":15.0503771},
    {"name":"Stralsund",                  "lat":54.3090654, "long":13.0770347},
    {"name":"Stuttgart",                  "lat":48.7758459, "long":9.1829321},
    {"name":"Suomenlinna",                "lat":60.145,     "long":24.99},
    {"name":"Suwałki",                    "lat":54.1115218, "long":22.9307881},
    {"name":"Syracuse",                   "lat":43.0481221, "long":-76.1474244},
    {"name":"Szczawno-Zdrój",             "lat":50.810462,  "long":16.2478969},
    {"name":"Szczecin",                   "lat":53.4285438, "long":14.5528116},
    {"name":"Szymbark",                   "lat":54.2183509, "long":18.1011005},
    {"name":"Świebodzin",                 "lat":52.25,      "long":15.54},
    {"name":"Świnoujście",                "lat":53.9100327, "long":14.2475775},
    {"name":"Tallin",                     "lat":59.4369608, "long":24.7535746},
    {"name":"Tampere",                    "lat":61.4977524, "long":23.7609535},
    {"name":"Toronto",                    "lat":43.653226,  "long":-79.3831843},
    {"name":"Toruń",                      "lat":53.0137902, "long":18.5984437},
    {"name":"Toulouse",                   "lat":43.604652,  "long":1.444209},
    {"name":"Trakai",                     "lat":54.6503763, "long":24.9285715},
    {"name":"Trzęsacz",                   "lat":54.0761939, "long":14.9932359},
    {"name":"Turku",                      "lat":60.4518126, "long":22.2666303},
    {"name":"Ustrzyki Górne",             "lat":49.1079977, "long":22.6505256},
    {"name":"Utrecht",                    "lat":52.091186,  "long":5.10414},
    {"name":"Vancouver",                  "lat":49.2827291, "long":-123.12073750000002},
    {"name":"Vilnius",                    "lat":54.6871555, "long":25.2796514},
    {"name":"Wałbrzych",                  "lat":50.7840092, "long":16.2843553},
    {"name":"Warszawa",                   "lat":52.2296756, "long":21.0122287},
    {"name":"Westerplatte (Gdańsk)",      "lat":54.4067051, "long":18.6647737},
    {"name":"Wien",                       "lat":48.2081743, "long":16.3738189},
    {"name":"Wigry",                      "lat":54.069103,  "long":23.086019},
    {"name":"Włocławek",                  "lat":52.6483303, "long":19.0677357},
    {"name":"Wrocław",                    "lat":51.1078852, "long":17.0385376},
    {"name":"Ζάκυνθος (Zakintos)",        "lat":37.7892437, "long":20.75},
    {"name":"Zamek Książ",                "lat":50.8422581, "long":16.29},
    {"name":"Zgorzelec",                  "lat":51.1496361, "long":15.0065645},
    {"name":"Zielona Góra",               "lat":51.9356214, "long":15.5061862},
    {"name":"Zielona Góra",               "lat":51.9356214, "long":15.5061862},
    {"name":"Zoologischer Garten Berlin", "lat":52.5079228, "long":13.337},
    {"name":"Żnin",                       "lat":52.8493847, "long":17.719477}
] %}

{% set fridge_magnets_niemam = [
    {"name":"Birmingham",                 "lat":52.486243,  "long":-1.890401},
    {"name":"Bytom",                      "lat":50.3483816, "long":18.9157176},
    {"name":"Cape Canaveral",             "lat":28.3922182, "long":-80.6077132},
    {"name":"Częstochowa",                "lat":50.8118195, "long":19.1203094},
    {"name":"Dallas",                     "lat":32.7766642, "long":-96.7969879},
    {"name":"Działdowo",                  "lat":53.2356765, "long":20.1799787},
    {"name":"Frombork",                   "lat":54.3574777, "long":19.6800723},
    {"name":"Grenoble",                   "lat":45.188529,  "long":5.724524},
    {"name":"Liptovský Mikuláš",          "lat":49.0811487, "long":19.6192067},
    {"name":"Ryga",                       "lat":56.9496487, "long":24.1051864},
    {"name":"Saarbrücken",                "lat":49.2401572, "long":6.9969327},
    {"name":"Sejny",                      "lat":54.10809,   "long":23.3469},
] %}

{% set fridge_magnets_dostalem = [
    {"name":"Brasilia",                   "lat":-15.799615, "long":-47.892837},
    {"name":"Dubai",                      "lat":25.9119068, "long":53.0758966},
    {"name":"Lądek-Zdrój",                "lat":50.348731,  "long":16.8495551},
    {"name":"Navagio",                    "lat":37.8594645, "long":20.62490009999999},
    {"name":"Paris",                      "lat":48.856614,  "long":2.3522219},
    {"name":"Roma",                       "lat":41.9027835, "long":12.4963655},
    {"name":"São Paulo",                  "lat":-23.553978, "long":-46.616615},
] %}
