{% if DEFAULT_PAGINATION %}
<div id="paginator">

        <div id="page-newer">
    {% if articles_page.has_previous() %}
        <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&laquo; Newer posts</a>
    {% endif %}
        </div>
        <div id="page-number">
    Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
        </div>
        <div id="page-older">
    {% if articles_page.has_next() %}
        <a href="{{ SITEURL }}/{{ articles_next_page.url }}">Older posts &raquo;</a>
    {% endif %}
        </div>
</div>
{% endif %}
